In [34]:
# Data PreProcessing
# Step 1 Importing required libraries
import numpy as np
import pandas as pd

In [44]:
# Step 2 Importing the Dataset
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[ : , :-1].values
Y = dataset.iloc[ : , 3].values
pd.DataFrame(X)
pd.DataFrame(Y)

     0
0   No
1  Yes
2   No
3   No
4  Yes
5  Yes
6   No
7  Yes
8   No
9  Yes

In [45]:
# Step 3 Handling the Missing Data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = "NaN", strategy = "mean", axis = 0)
imputer = imputer.fit(X[ : , 1:3])
X[ : , 1:3] = imputer.transform(X[ : , 1:3])
pd.DataFrame(X)

C:\Users\Queiy\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

         0        1        2
0   France       44    72000
1    Spain       27    48000
2  Germany       30    54000
3    Spain       38    61000
4  Germany       40  63777.8
5   France       35    58000
6    Spain  38.7778    52000
7   France       48    79000
8  Germany       50    83000
9   France       37    67000

In [46]:
# Step 4 Encoding Categorical Data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[ : , 0] = labelencoder_X.fit_transform(X[ : , 0])
# Creating a dummy variable
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()
labelencoder_Y = LabelEncoder()
Y =  labelencoder_Y.fit_transform(Y)

C:\Users\Queiy\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Queiy\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [20]:
# Step 5 Splitting the Dataset into Testset and Trainingset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X , Y , test_size = 0.2, random_state = 0)

In [21]:
# Step 6 Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [26]:
pd.DataFrame(X_train)

     0         1         2         3         4
0 -1.0  2.645751 -0.774597  0.263068  0.123815
1  1.0 -0.377964 -0.774597 -0.253501  0.461756
2 -1.0 -0.377964  1.290994 -1.975398 -1.530933
3 -1.0 -0.377964  1.290994  0.052614 -1.111420
4  1.0 -0.377964 -0.774597  1.640585  1.720297
5 -1.0 -0.377964  1.290994 -0.081312 -0.167514
6  1.0 -0.377964 -0.774597  0.951826  0.986148
7  1.0 -0.377964 -0.774597 -0.597881 -0.482149

In [27]:
pd.DataFrame(X_test)

     0    1    2    3    4
0  0.0  0.0  0.0 -1.0 -1.0
1  0.0  0.0  0.0  1.0  1.0